{
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": true,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": true,
  "tabWidth": 2,
  "useTabs": false
}
